.region-info{
  color: black;
}
.region-table-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.region-table{
  padding: 10px 35px;
  flex-direction: column;
  border: 1px solid black;
  h2{
    border-bottom: 1px solid black;
  }
}
.paddingTop-20{
  padding: 20px;
}

.button-fourth{
  margin-right: 50px;
  border-left: 1px solid black;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calculation-block{
 border-top: 1px solid black;
  padding-top: 15px;
  div {
    padding-top: 15px;
  }

}

