<section class="region-info" *ngIf="model">
  <h2>{{model.name}}</h2>
  <button mat-button (click)="makeCalculations(count)"
  >Обрахунки
  </button>
  <div class="region-table-parent">
    <table>
      <thead>
      <tr>
        <th></th>
        <th *ngFor="let countInfo of oneCount">
          {{countInfo.year}}
        </th>
        <th>Середнє значення</th>
        <th>Вектор етлонних значень</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let countObj of count, let i = index ">
        <td>{{countObj.name}}</td>
        <td *ngFor="let statistic of countObj.statistic, let i = index">
          {{statistic.totalInfoCount}}
        </td>
        <td>
          {{middleCountOfClasificator[i]}}
        </td>
        <td>
          <h3>{{countObj.thirdStepCalc}}</h3>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="button-fourth">
      <h3>Вектор відстані від еталону</h3>

    </div>
    <div>
      <div>Таксономічний показник K</div>
      <div>
        <p *ngFor="let ki of arrOfKi">{{ki.numberOfKi}}</p>
      </div>
    </div>
  </div>
  <div class="calculation-block">
    <div>С~ {{cTild}}</div>
    <div>di {{di}}</div>
    <div>{{yy}}</div>
    <div>{{iterdFourCount}}</div>
  </div>
</section>
