<section class="w-full h-[100vh]">
  <mat-drawer-container  autosize>
    <mat-drawer #drawer mode="side">
      <div class="sidenav">
        <nav class="navigation">
          <a routerLink="" mat-button>Області</a>
          <button mat-button (click)="regionModalWindow()">Додати Область</button>
          <button mat-button (click)="classifierModalWindow()">Додати Класифікатор</button>
        </nav>
      </div>
    </mat-drawer>
    <div>
      <div class="w-full h-[50px] bg-black-light flex justify-start items-center text-white">
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="app-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</section>

