.form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  > ::ng-deep .mat-form-field {
    width: 515px !important;
  }
}
.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  button{
    margin-right:5px;
  }
  :nth-child(2){
    margin-left: 5px;
  }
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  button{
    width: 40px;
    height: 40px;
  }
}
